:root {
    font-size: 16px;
    --text-primary: rgb(0, 0, 0);
    --text-secondary: gray;
    --bg-primary: rgb(255, 170, 170);
    --bg-secondary: rgb(85, 0, 0);
}
body {
    color: black;
    background-color: white;
    margin: 0px;
    padding: 0px;
}
body::-webkit-scrollbar{
    width: 0,25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8;
}
main {
    margin-left: 5rem;
    padding: 1rem;
}
#menu {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}
.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.navbar-item {
    width: 100%;
    height: auto;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    min-width: 2rem;
    margin: 0 1.5rem;
}
.link-text {
    display: none;
}
#menu:hover {
    width: 14rem;
}
#menu:hover .link-text {
    display: block;
}
.fas {
    font-size: 2rem;
    padding-right: 2rem;
}
h1 {
    font-family: sans-serif;
    font-size: xx-large;
    color: darkred;
    text-align: center;
}
h2 {
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    color: darkred;
}
p {
    font-family: sans-serif;
    font-size: medium;
    color: black;
    text-align: center;
}
.länkBild {
    width: 21%;
    border-radius: 50%;
    float: left; display: flex;
    padding: 2%;
    position: relative;
}
.gemensam {
    padding: 5%;
    background-color: var(--bg-primary);
    margin-bottom: 4%;
}