:root {
    font-size: 16px;
    --text-primary: white;
    --text-secondary: gray;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}
body {
    color: black;
    background-color: white;
    margin: 0px;
    padding: 0px;
}
body::-webkit-scrollbar{
    width: 0,25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8;
}
main {
    margin-left: 5rem;
    padding: 1rem;
}
#menu {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}
.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.navbar-item {
    width: 100%;
    height: auto;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    min-width: 2rem;
    margin: 0 1.5rem;
}
.link-text {
    display: none;
}
#menu:hover {
    width: 14rem;
}
#menu:hover .link-text {
    display: block;
}
.fas {
    font-size: 2rem;
    padding-right: 2rem;
}

.imgKlass {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.projektRuta {
    background-color: rgb(231, 230, 230);
    margin-bottom: 3%;
    float: left;
    width: 30%;
    margin-left: 2.5%;
    text-align: center;
    border-radius: 20px;
}

h3 {
    line-height: 5px;
}

h2 {
    color: darkred;
}

h1 {
    color: darkred;
    text-align: center;
}