.header {
    background-color: var(--bg-primary);
    height: 8%;
    width: 100%;
    margin: 0;
    padding: 1em;
    position: absolute; top:0;
}

#rubrik {
    color: white;
}

#divForm {
    width: auto;
    height: auto;
    padding: 5em 5em 0em;
    margin: 0;
    

}

#form input:focus {
    background-color: rgb(238, 227, 223);
}

.facebook {
    width: auto;
    height: auto;
    padding: 5em 5em 0em;
    margin: 0;

}

#twitterImg {
    width: 17vw;
    align-items: center;
    padding: 1em 10em;
}

#facebookImg {
    width: 17vw;
    align-items: center;
    padding: 1em 5em;
}


.inehåll {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;

}

#form {
    height: auto;
    width: auto;
}




@media only screen and (min-width: 800px) {
    #form {
        width: auto;
        height: auto;
        padding: 1em 35em 0em;
        margin: 0;
    }

   /* .facebook {
        width: 50%;
        height: auto;
        padding: 0;
        margin-left: 300px;
        background-color: blue;
        

    }
    

   .twitter {
    width: 50%;
    height: auto;
    padding: 0;
    margin-right: 340px;
    background-color: yellow;
   }
   */



.loggor {
    width: 50%;
    height: auto;
    margin-left: 40%;
    padding-left: 0%;
    display: flex;
    align-items: center;

   
}

#twitterImg {
    width: 5vw;
    padding: 0;
    margin: 0;

}
#facebookImg {
    width: 5vw;
}


.checkbox2 {
    margin-left: 70%;
}


  }