.header {
    background-color: var(--bg-primary);
    height: 8%;
    width: 100%;
    margin: 0;
    padding: 1em;
    position: absolute; top:0;
}

#rubrik {
    color: white;
    text-align: center;
    font-size: 250%;
}

#divForm {
    width: auto;
    height: auto;
    padding: 5em 5em 0em;
    margin: 0;
}


#form input:focus {
    background-color: rgb(238, 227, 223);
}

.facebook {
    width: auto;
    height: auto;
    padding: 5em 5em 0em;
    margin: 0;

}
.loggor {
    padding-top: 4vh;
    margin-left: 0 auto;
}
#twitterImg {
    width: 10vh;
    padding-left: 1vw;
}

#facebookImg {
    width: 10vh;
    align-items: center;

}

.inehåll {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: center;
}

#form {
    height: auto;
    width: auto;
    margin-top: 5vh;
}