@media screen and (max-width: 799px){
    .huvud-text {
        padding: 20px;
        padding-left: 40px;
    }
    .exempel-text{
        width: 80%;
        height: 100%;
        margin-right: auto; margin-left: auto;
    }
    .text-startsida {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 75%;
    }
}
@media screen and (min-width: 800px){
    .exempel-text{
        width: 50%;
        height: 100%;
        margin-right: auto; margin-left: auto;
    }
    .text-startsida {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 75%;
    }
}