#språk1 {
    width: 80%;
    background-color: darkred;
    color: ghostwhite;
    font-family: sans-serif;
    border-radius: 25px;
    text-align: center;
    transition: width 200ms ease;
}
#språk2 {
    width: 50%;
    background-color: darkred;
    color: ghostwhite;
    font-family: sans-serif;
    border-radius: 25px;
    text-align: center;
    transition: width 200ms ease;
}
#språk3 {
    width: 30%;
    background-color: darkred;
    color: ghostwhite;
    font-family: sans-serif;
    border-radius: 25px;
    text-align: center;
    transition: width 200ms ease;
}
#språk4 {
    width: 80%;
    background-color: darkred;
    color: ghostwhite;
    font-family: sans-serif;
    border-radius: 25px;
    text-align: center;
    transition: width 200ms ease;
}