#spr책k1 {
    width: 80%;
    background-color: darkred;
    color: ghostwhite;
    font-family: sans-serif;
    border-radius: 25px;
    text-align: center;
    transition: width 200ms ease;
}
#spr책k2 {
    width: 50%;
    background-color: darkred;
    color: ghostwhite;
    font-family: sans-serif;
    border-radius: 25px;
    text-align: center;
    transition: width 200ms ease;
}
#spr책k3 {
    width: 30%;
    background-color: darkred;
    color: ghostwhite;
    font-family: sans-serif;
    border-radius: 25px;
    text-align: center;
    transition: width 200ms ease;
}
#spr책k4 {
    width: 80%;
    background-color: darkred;
    color: ghostwhite;
    font-family: sans-serif;
    border-radius: 25px;
    text-align: center;
    transition: width 200ms ease;
}