@media screen and (max-width: 799px) { 
    
body {
    text-align: center;
}

#menu {
    transition: width 300ms ease;
}

.bildLänkar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.länkBild {
    width: 30%;
    border-radius: 50%;
    display: inline-block;
    padding: 2%;
    position: relative;
}
.gemensam {
    padding: 5%;
    background-color: var(--bg-primary);
    margin-bottom: 4%;
}
}
@media screen and (min-width: 800px) {
    .länkBild {
        width: 50%;
        border-radius: 50%;
        display: block;
        padding: 2%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }
    .bildText {
        display: block;
        text-align: center;
        position: relative;
        visibility: hidden;
    }
    .gemensam {
        padding: 5%;
        padding-left: 10%; padding-right: 10%;
        background-color: var(--bg-primary);
        margin-bottom: 4%;
    }
    .bildLänkar {
        display: flex;
        height: 16rem;
        align-items: center;
        flex-direction: row;
    }
    .divBild:hover .bildText {
        visibility: visible;
    }
    
}