 @media screen and (max-width: 799px){
    .gallery {
      position: relative;
      width: 80%;
      margin: auto;
    }
    .img-container {
      position: relative;
      width: 100%;
      margin: auto;
      background-color: cornflowerblue;
    }
    .gallery-img {
      position: absolute;
    }
    .gallery-img img {
      width: 100%;
    }
    .pause {
      position: absolute;
    }
}
@media screen and (min-width: 800px){
  .gallery {
    position: relative;
    width: 50%;
    margin: auto;
  }
  .img-container {
    position: relative;
    width: 100%;
    margin: auto;
    background-color: cornflowerblue;
  }
  .gallery-img {
    position: absolute;
  }
  .gallery-img img {
    width: 100%;
  }
  .pause {
    position: absolute;
  }
}
