/* .slide-container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;   
}
.slides {
    display: none;
}
.slide-img {
    width: 18rem;
    height: 10rem;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  } */

  .gallery {
    position: relative;
    width: 50%;
    margin: auto;
  }
  .img-container {
    position: relative;
    width: 100%;
    margin: auto;
    background-color: cornflowerblue;
  }
  .gallery-img {
    position: absolute;
  }
  .gallery-img img {
    width: 100%;
  }
  .pause {
    position: absolute;
  }

