:root {
    font-size: 16px;
    --text-primary: white;
    --text-secondary: gray;
    --bg-primary: #23232e;
    --bg-secondary: rgb(85, 0, 0);
}
body {
    color: black;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}
#menu {
    width: 0rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 300ms ease;
}
.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.navbar-item {
    width: 100%;
    height: auto;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    min-width: 2rem;
    margin: 0 1.5rem;
}
.link-text {
    display: flex;
    padding-left: 2rem;
}
.fas {
    font-size: 2rem;   
}

#menu-icon {
    display: block;
    position: absolute;
    left: 0;
    padding: 10px;
    border: 3px solid brown;
    border-radius: 10px;
}
